*.lo
*.o
.deps
.dirstamp
.libs

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/cscope.*
/doc/Doxyfile
/doc/html/
/doc/man1/*.html
/libtool
/libwim.la
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/programs/mkwinpeimg
/stamp-h1
/tags
/tests/*.log
/tests/*.trs
/tests/wlfuzz
/tests/wlfuzz.exe
/tools/windeps/*.tar.*
/tools/windeps/COPYING.*
/tools/windeps/build_*
/tools/windeps/libxml2*
/tools/windeps/mingw*
/tools/windeps/sysroot_*
/tools/windeps/winpthreads*
/wimlib-*-bin/
/wimlib-*.tar
/wimlib-*.tar.*
/wimlib-*.zip
/wimlib-imagex
/wimlib-imagex.exe
/wimlib.pc
