/build*
/cscope.*
/doc/Doxyfile
/doc/html/
/doc/man1/*.html
/programs/mkwinpeimg
/tags
/test-suite.log
/tests/*.log
/tests/*.trs
/tools/libFuzzer/*/fuzz
/tools/libFuzzer/test-one-input
/wimlib-*-bin/
/wimlib-*.tar
/wimlib-*.tar.*
/wimlib-*.zip
/wimlib-imagex
/wimlib-imagex.exe
/wimlib.pc
