Source: wimlib
Priority: optional
Maintainer: Eric Biggers <ebiggers3@gmail.com>
Build-Depends: debhelper (>= 7.0.0), autotools-dev, pkg-config,
               libfuse-dev, libxml2-dev, libssl-dev,
               ntfs-3g-dev (>= 2011.4.12), attr-dev, bash, attr
Standards-Version: 3.9.2
Section: libs
Homepage: http://sourceforge.net/projects/wimlib
Vcs-Git: git://git.code.sf.net/p/wimlib/code

Package: wimlib-dev
Section: libdevel
Architecture: any
Depends: wimlib (= ${binary:Version})
Description: Development files for wimlib
 Development files for wimlib

Package: wimlib
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfuse2, libxml2,
         libssl0.9.8 | libssl1.0.0, ntfs-3g (>= 2011.4.12), attr
Description: Library to extract, create, modify, and mount WIM files
 wimlib is a C library for creating, extracting, modifying, and mounting files
 in the Windows Imaging Format (WIM files).  It is similar to Microsoft's
 WIMGAPI but is designed for both UNIX and Windows.

Package: wimtools
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: genisoimage, mtools, syslinux, cabextract, ntfsprogs
Description: Tools to create, extract, modify, and mount WIM files
 Tools to create, extract, modify, and mount files in the Windows Imaging
 Format (WIM files).  These files are normally created by using the
 `imagex.exe' utility on Windows, but this package contains a free
 implementation of ImageX called "wimlib-imagex" that is designed to work on
 both UNIX and Windows.
